/.env
/.env.*
!/.env.example
/data/
/database/*.sqlite
/database/*.sqlite-*
/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.idea/
/.vscode/
.DS_Store
npm-debug.log*
/.phpunit.result.cache
/coverage/
/releases/
/.inkgroove-updates/
/.phpunit.cache/
__pycache__/
*.pyc
/bootstrap/cache/*.php
